@font-face {
  font-family: 'Mori';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    local('Mori'),
    url('./Mori/PPMoriGothic-Extralight.otf') format('opentype');
}

@font-face {
  font-family: 'Mori';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Mori'),
    url('./Mori/PPMoriGothic-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Mori';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Mori'),
    url('./Mori/PPMoriGothic-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Mori';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Mori'),
    url('./Mori/PPMoriGothic-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Mori';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Mori'),
    url('./Mori/PPMoriGothic-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Mori';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Mori'),
    url('./Mori/PPMoriGothic-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Mori';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local('Mori'),
    url('./Mori/PPMoriGothic-ExtraBold.otf') format('opentype');
}
